# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "656b84090c3d90435a1675270b9182d8"
name = "ab-insightful"
application_url = "https://ab-insightful.fly.dev"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_reports,read_products,write_products,write_products, write_pixels, read_customer_events"

[auth]
redirect_urls = [
  "https://ab-insightful.fly.dev/auth/callback",
  "https://ab-insightful.fly.dev/auth/shopify/callback",
  "https://ab-insightful.fly.dev/api/auth/callback"
]
